#burger{
    position:relative; 
    z-index:10; 
    padding:6px; 
    background:#000; 
    height:9px;
    width:9px;
}
#burger:before{
    content:""; 
    display:block; 
    position:absolute; 
    z-index:-1; 
    top:5px; 
    left:0px; 
    right:0px; 
    bottom:5px; 
    border-top:3px solid #fff;
    border-bottom:3px solid #fff;
}